<ion-content class="auth-ui ion-padding">
  <div class="bg-image"></div>
  <div class="overlay has-gradient"></div>

  <div class="flex-container">
    <div>
      <img class="logo" alt="Jasa Tukang" src="assets/images/icon-jasatukang.png" />

      <form [formGroup]="resetForm" (submit)="resetPassword()" class="ion-padding">
        <ion-item>
          <ion-icon name="person" color="tertiary" slot="start"></ion-icon>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" value="{{email}}" placeholder="Masukkan alamat email" autocomplete="off" readonly>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="code-working-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label position="stacked">Reset Code</ion-label>
          <ion-input formControlName="reset_code" type="text" placeholder="Masukkan kode reset" autocomplete="off">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed" color="tertiary" slot="start"></ion-icon>
          <ion-label position="stacked">Password Baru</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Masukkan password baru" autocomplete="off">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed" color="tertiary" slot="start"></ion-icon>
          <ion-label position="stacked">Ulangi Password</ion-label>
          <ion-input formControlName="repassword" type="password" placeholder="Ketik ulang password baru" autocomplete="off">
          </ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" fill="solid" color="secondary" shape="round" class="submit-button">
          Reset Password
        </ion-button>
      </form>

      <div class="login-with" text-center>
        <ion-text color="light">
          <p>Gak jadi reset?</p>
        </ion-text>
        <ion-button fill="solid" expand="block" color="danger" shape="round" routerLink="/login"
          routerDirection="backward" text-capitalize>
          Login
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title color="light">
      Belum punya akun?
      <a color="secondary" routerLink="/register" routerDirection="forward">Daftar Sekarang</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>