.bg-image {
	background-image: url(../../../assets/images/auth/christopher-burns-368617-unsplash.jpg);
}

.overlay {
	&.has-blur {
		background-image: url(../../../assets/images/auth/christopher-burns-368617-unsplash.jpg);
	}
}

.flex-container {
	height: 100%;
}

.forget-password-button {
	margin-left: 7px;
}

ion-content .register-button {
	margin-top: 15px;
}

.facebook-login-button {
	--background: #4267b2;
}
