<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="content-wrapper">
        <img src="assets/images/via-app.png" class="slide-image" />
        <h2>Cari Tukang Lebih Mudah</h2>
        <p>
          Gak perlu ribet keluar rumah, cukup lewat aplikasi. Hemat waktu, hemat
          tenaga.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="content-wrapper">
        <img src="assets/images/order.png" class="slide-image" />
        <h2>Butuh Tukang, Tinggal Pesan!</h2>
        <p>
          Anda pesan lewat aplikasi, kami telpon konfirmasi, tukang datang
          menghampiri.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="content-wrapper">
        <img src="assets/images/artisan.png" class="slide-image" />
        <h2>Berkualitas</h2>
        <p>
          Tukang yang kami sediakan professional dan telah bekerja di proyek.
          Tak perlu khawatir dengan kualitas pengerjaan.
        </p>
        <ion-button expand="block" color="secondary" shape="round" routerLink="/login">
          Mulai Sekarang
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>